<!DOCTYPE html>
<html>
<head>
    <title>Event List</title>
</head>
<body>
    <h1>My Events</h1>
    <a href="{% url 'event_create' %}">Create New Event</a>
    <ul>
        {% for event in events %}
            <li>
                {{ event.title }} ({{ event.start_time }} - {{ event.end_time }})
                <a href="{% url 'event_update' event.pk %}">Edit</a>
                <a href="{% url 'share_event' event.pk %}">Share</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
